{
  "extends": [
  "eslint:recommended",
  "plugin:react/recommended",
  "airbnb-base"
  ],
  "rules": {
    "no-underscore-dangle": "off",
    "react/prop-types": "off"
    },
  "eslint func-style": ["error", "declaration", { "allowArrowFunctions": true }]
}
